<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table-responsive">
        <thead>
            <tr>
                <td>รหัสนิสิต</td>
                <td>ชื่อ</td>
                <td>คณะ</td>
                <td>สาขา</td>
                <td>จ่ายเงินเมื่อ</td>
                <td>ราคา</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>รหัสนิสิต</td>
                <td>ชื่อ</td>
                <td>คณะ</td>
                <td>สาขา</td>
                <td>จ่ายเงินเมื่อ</td>
                <td>ราคา</td>
            </tr>
        </tbody>
    </table>
    <p><%= JSON.stringify(users) %></p>
</body>

</html>